[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "graphkernels"]
	path = graphkernels
	url = https://github.com/cran/graphkernels
	shallow = true
	registered = true
